.ty
{
  position: absolute;
  background-image: linear-gradient(#6DA882,aqua);
  height:500px;
  width:1000px;
  margin: 100px;
  left:150px;
  text-align: center;
}
h1
{
font-size: 100px;
padding-top: 90px;
text-shadow: 10px 10px 10px blue;
}
